:root {
  --background: #060b0f;
  --primary: #8db9dd;
  --secondary: #215b8a;
  --accent: #3c93dc;
  --text-heading: #edf2f7;
  --text-subheading: #aeb2b7;
  --text: #dadfe4;
  --btn-background-primary: #8db9dd;
  --btn-background-secondary: #0e2434;
  --chip-background: #0c1c28;
  --card-background: #09151d;
  --border: #0f2636;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--text);
  margin: 0;
  background: var(--background);
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

a {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: 62px;
  font-weight: 700;
}

h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 48px;
}

h4 {
  color: var(--text-subheading);
  font-size: 24px;
  font-weight: 400;
}

h5 {
  color: var(--text-heading);
  font-size: 20px;
  font-weight: 600;
}

button {
  border: none;
  cursor: pointer;
}

.chip {
  border: 1px solid var(--accent);
  border-radius: 50px;
  width: fit-content;
  height: fit-content;
  padding: 6px 12px;
}

.chip p {
  color: var(--secondary);
  font-size: 18px;
  font-weight: 500;
}

.btn {
  background: var(--btn-background-primary);
  padding: 16px 20px;
  border-radius: 8px;
  font-size: 20px;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  color: #000;

  &:hover {
    box-shadow: 0 0 10px var(--btn-background-primary);
  }
}

.btn-secondary {
  background: transparent;
  color: var(--text);
  border: 2px solid var(--btn-background-secondary);

  &:hover {
    box-shadow: 0 0 10px var(--btn-background-secondary);
  }
}

.features {
  display: flex;
  flex-direction: column;
  gap: 256px;
}

.feature {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 128px;
}

.feature-reverse {
  flex-direction: row-reverse;
}

.card,
.feature img {
  border-radius: 8px;
  box-shadow: 0 0 24px var(--border);
  width: 500px;
}

.card {
  background: var(--card-background);
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 12px 14px;
  align-items: start;
  justify-content: center;
  text-align: start;
  border-radius: 8px;
  border: 1px solid var(--border);
}

.card .chip {
  background: var(--chip-background);
  border: 1px solid var(--border);
}

.card .content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 12px;
}

.card .btn {
  font-size: 15px;
  padding: 12px 16px;
}
