<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>The oss bot</title>
  </head>
  <body>
	<main>
		<slot />
	</main>
  </body>
</html>

<style>
  body main {
    overflow-x: hidden;
  }

	main {
		display: flex;
		flex-direction: column;
		gap: 128px;
	}

  @media (width < 1024px) {
    main {
      gap: 64px;
    }
  }
</style>
