<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/global.css" />
    <title>The oss bot</title>
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>

<style>
  body main {
    overflow-x: hidden;
  }

  body {
    color: var(--text);
    margin: 0;
    background: var(--background);
    width: 100%;
    height: 100%;
    font-family: "Poppins", sans-serif;
  }

  main {
    display: flex;
    flex-direction: column;
    gap: 128px;
  }

  @media (width < 1024px) {
    main {
      gap: 64px;
    }
  }
</style>
